h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    & input,
    label {
        padding: 10px;
    }

    }
        button {
            margin-top: 15px;
            height: 40px;
            width: 150px;
            color: #ffff;
            background-color: #8300bfdd;
        }

table,
tbody,
th,
td {
    padding: 20px;
    margin-block: 30px;
    border-collapse: collapse;
    border: 1px solid #aeaeae;
}

table>tbody>tr>th,
table>tbody>tr>td {
    padding: 3px !important;
}

table>tbody>tr>th:nth-child(1),
table>tbody>tr>td:nth-child(1) {
    text-align: center;
}

table>tbody>tr>th:nth-child(3),
table>tbody>tr>td:nth-child(3) {
    text-align: center;
    width: 230px;
}

table>tbody>tr>td>button {
    width: 100px;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
}